<div class="about-content">
    <h1>
        <span class="about-title-content">
            About Me
            <span class="about-highlight"></span>
        </span>
    </h1>
    <p [@fadeLeftContainer]>
        <span class="about-block" [@fadeLeft]>
            I'm a software developer. I create internal apps to enable other teams to understand and interact with my team's analytics. On the frontend, I focus on interactive visualizations, meaningful UX, and crisp designs. I also spend a lot of time on SQL Server, mostly writing and optimizing queries. 
        </span>
        <br>
        <span class="about-block" [@fadeLeft]>
            I tend to be bored standing still and insatiably search for novelty. I'll always love exploring creative UX designs, but I'm more focused on expanding to other areas at  moment. I'm interested in lower-level concepts lately: database systems and a touch of operat systems. 
        </span>
        <br>
        <span class="about-block" [@fadeLeft]>
            I talk to myself a lot. Random thoughts, project ideas, algorithmic improvements, stuff like that. I figured a blog would be a better outlet for that. At least it might be useful to some else too. I made this site mostly to blog, and I figured I'd add the typical <em>resume</em> and <em>about</em>
            pages as well. 
        </span>
        <br>
        <span class="about-block" [@fadeLeft]>
            I'm always happy to chat, so feel free to message me. 
        </span>
    </p>
</div>
